/* src/App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.video-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 720px; /* Original video width */
  height: auto;
  max-height: 1280px; /* Original video height */
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent; /* Transparent background */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 20px;
}

.hamburger-button {
  background: none;
  border: none;
  color: gray; /* Gray color for the icon */
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(70, 130, 180, 0.5); /* Smoky blue with 50% opacity */
  padding: 10px;
  border-radius: 5px;
}

.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.content {
  position: relative;
  z-index: 1;
  padding: 50px;
  background: white;
}

.profile, .program {
  padding: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white; /* Ensure text is readable */
  min-height: 100vh; /* Ensure sections take full height */
  max-width: 720px; /* Match the video width */
  margin: 0 auto; /* Center the content */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-blend-mode: overlay;
  position: relative;
}

.profile {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/profile-background.jpg');
}

.program {
  background-image: url('/program-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  color: #333; /* Dark gray text color */
  padding: 20px;
  border-radius: 15px; /* Rounded corners */
  max-width: 600px;
  margin: auto;
}
