/* src/App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.video-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 720px; /* Original video width */
  height: auto;
  max-height: 1280px; /* Original video height */
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hamburger-menu {
  position: fixed;
  top: 10px;
  right: 0px;
  z-index: 3;
  text-align: right;
  text-align: -webkit-right;
}

.hamburger-button {
  background: none;
  border: none;
  color: gray; /* Gray color for the icon */
  font-size: 36px;
  cursor: pointer;
  text-align: right;
  text-align: -webkit-right;
}

.hamburger-button.white {
  color: white; /* メニューが開いたときの白文字 */
}

.menu-items {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: rgba(70, 130, 180, 0.8); /* Smoky blue with 90% opacity */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.menu-items.show {
  transform: translateX(0);
}

.menu-item {
  margin: 15px 0;
}

.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 2; /* 行間を広げる */
  margin: 10px 0; /* メニュー項目の上下の余白 */
}

.menu-items a:hover {
  text-decoration: underline;
}

.content-profile {
  position: relative;
  z-index: 1;
  background: white;
  background-image: url('/profile-background.jpg');
  background-repeat: no-repeat;
}

.content-program {
  position: relative;
  z-index: 1;
  background: white;
}

.parallax {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: scroll; /* Change from fixed to scroll */
}

.profile {
  background-image: url('/');
}

.program {
  background-image: url('/program-background');
}

.content-box {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  color: #333; /* Dark gray text color */
  padding: 20px;
  border-radius: 15px; /* Rounded corners */
  max-width: 600px;
  margin: auto;
}

.table-plan-image {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

/* 追加: プログラムリストのスタイル */
.program-schedule {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
}

.program-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  margin: 10px 0;
}

.program-time {
  font-size: 15px;
}

.program-event {
  font-size: 16px;
}

/* フッターのスタイル */
.footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
}

/* メディアクエリ: 横向き（ランドスケープ）モードの調整 */
@media only screen and (orientation: landscape) {
  .menu-items {
    width: 40%; /* 横向き時のメニュー幅を調整 */
  }
  
  .menu-items a {
    font-size: 16px; /* フォントサイズを調整 */
    margin: 5px 0; /* メニュー項目の上下の余白を調整 */
  }
  
  .content-box {
    max-width: 80%; /* 横向き時のコンテンツボックスの幅を調整 */
  }

  .background-video {
    width: auto; /* 動画の幅を自動に */
    height: 100%; /* 高さを100%に */
  }
}

/* フッターのスタイル */
.footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-button img {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}

.footer-content p {
  margin: 0;
  color: #666;
  font-size: 10px;
}